
.CA-card {

  flex: 3 auto;
  order: 1;

  min-height: 700px;
  min-width: 600px;

  display: flex;

  flex-wrap: wrap;

  margin: 20px;
  border-radius: 50px;
  border: 2px solid salmon;


  &__photo {

    flex: 1 50%;

    position: relative;

    & > img {

      height: 150px;
      width: 150px;

      position: absolute;
      margin: auto;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;

    }
  }

  &__info {
    flex: 1 50%;

    color: #000;
    padding-top: 50px;

    &__first {

      line-height: 40px;
      vertical-align: middle;

    }

    &__row {

      & > .content {

        font-weight: bold;
        width: 90%;
      }
    }

    &__second {
      line-height: 40px;
      vertical-align: middle;

      & > .content {

        font-weight: bold;
      }
    }

    &__company {
      line-height: 32px;
      vertical-align: middle;

      color: #666666;

      & > .content {

        font-weight: bold;
      }
    }
  }

  &__phones {

    width: 100%;

    list-style: none;

    line-height: 38px;
    vertical-align: middle;

  }
}
