
.CA-list {

  list-style: none;
  padding: 0;
  margin: 20px 0;

  flex: 1 auto;
  order: 2;

  border: 2px solid grey;
  background: black;
  border-right: none;

  min-width: 100px;

  &__item {

    height: 40px;
    padding-left: 10px;
    line-height: 40px;


    font-weight: bold;

    vertical-align: middle;

    background: #fff;

    transition: all linear 0.1s;

    max-width: 300px;
    min-width: 100px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {

      color: #fff;
      background: #000;
    }

    &_chosen {
      color: red;
    }
  }
}